<header class="p-3 bg-dark text-light">
  <div class="row">
    <div class="col-6 d-flex justify-content-start">
      <a class="text-decoration-none" routerLink="/">
        <h2 class="text-light">Github</h2>
      </a>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button type="button" class="btn btn-outline-dark text-light" style="margin-right: 10px; cursor: inherit;">Search</button>
      <button routerLink="/search/repo" type="button" class="btn btn-outline-light" style="margin-right: 10px;">Repo</button>
      <button routerLink="/search/user" type="button" class="btn btn-outline-light" style="margin-right: 10px;">User</button>
    </div>
  </div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="p-3 bg-dark text-light">
  <div class="row">
    <div class="col-12 text-center">
      <h4 class="text-light">Github</h4>
    </div>
  </div>
</footer>
