<div class="row">
  <div class="col-12 d-flex justify-content-center align-items-center shadow rounded p-5" style="min-height: 80vh;">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <i class="fab fa-github fa-5x"></i>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <h4 style="color: rgb(51, 51, 51);">Github Search</h4>
      </div>
      <div class="col-12 mt-2 d-flex justify-content-center">
        <p>Search <a class="text-decoration-none" routerLink="/search/repo">repo</a> and <a class="text-decoration-none" routerLink="/search/user">user</a> </p>
      </div>
    </div>
  </div>
</div>
